@import "CESProdTheme-defaults";
@import "addons";
@import "CESProdTheme";

.CESProdTheme {
  @include addons;
  @include CESProdTheme;
}

.Visits-visitStatus {
    font-weight: bold;
}

.attended {
    background-color: green;
    color: green;
}

.absent {
    background-color: red;
    color: red;
}

.not_defined {
    background-color: yellow;
    color: yellow;
}

.Courses-courseStatus {
    font-weight: bold;
}

.new {
    background-color: yellow;
    color: yellow;
}

.not_done {
    background-color: red;
    color: red;
}

.held {
    background-color: green;
    color: green;
}